@charset "UTF-8";
body {
  min-width: 320px;
  width: 100%;
  font-family: 'Noto Sans', sans-serif;
  font-size: 12px;
  background-color: #292929; }

body.navbar-opened {
  overflow: hidden;
  width: 100%;
  height: 100%; }

address {
  margin-bottom: 0; }

dl {
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

.container {
  max-width: 1024px; }

.form-control {
  border-radius: 0; }
  .form-control:focus {
    box-shadow: none;
    border-color: #368d7a; }

.btn {
  border-radius: 0; }

#wrapper {
  position: relative;
  padding-top: 50px;
  width: 100%; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  z-index: 1; }
  #header .logo {
    float: left;
    margin-top: 13px;
    margin-bottom: 0;
    margin-left: 15px; }
    #header .logo img {
      display: block;
      width: 145px; }
  #header .btn {
    position: absolute;
    top: 8px;
    right: 10px;
    padding: 7px 7px;
    width: 34px;
    height: 35px;
    border: 0;
    background-color: transparent;
    border-radius: 0; }
    #header .btn .bar {
      display: block;
      margin-top: 3px;
      width: 100%;
      height: 3px;
      background-color: #4d4d4d; }
      #header .btn .bar:first-child {
        margin-top: 0; }

#navbar {
  position: fixed;
  top: 0;
  right: -100%;
  padding-top: 50px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999; }
  #navbar > div {
    position: absolute;
    right: -200px;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #fff;
    -webkit-transition: all .3s;
    transition: all .3s; }
    #navbar > div .btn-close-menu {
      position: absolute;
      top: 8px;
      right: 10px;
      padding: 5px;
      width: 35px;
      height: 35px;
      background-color: transparent; }
      #navbar > div .btn-close-menu .bar {
        display: block;
        margin-top: -2px;
        width: 100%;
        height: 2px;
        background-color: #4d4d4d;
        transform: rotate(45deg); }
        #navbar > div .btn-close-menu .bar:first-child {
          transform: rotate(135deg); }
    #navbar > div .menu {
      padding-top: 50px;
      width: 100%;
      height: 100%;
      background-color: #fff; }
      #navbar > div .menu a {
        display: block;
        width: 100%;
        text-align: center;
        letter-spacing: -1px;
        text-decoration: none; }
      #navbar > div .menu > div {
        position: relative;
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 100%;
        background-color: #fff;
        border-top: 1px solid #e6e6e6; }
        #navbar > div .menu > div > ul {
          position: relative;
          height: 100%; }
          #navbar > div .menu > div > ul > li {
            position: relative;
            border-bottom: 1px solid #e6e6e6; }
            #navbar > div .menu > div > ul > li > a {
              height: 60px;
              line-height: 60px;
              font-size: 18px;
              color: #4c4c4c;
              background-color: #fff; }
            #navbar > div .menu > div > ul > li > ul {
              display: none;
              padding-top: 10px;
              padding-bottom: 10px;
              background-color: #fff; }
              #navbar > div .menu > div > ul > li > ul > li > a {
                height: 40px;
                line-height: 40px;
                font-size: 14px;
                color: #808080; }
            #navbar > div .menu > div > ul > li.active > a {
              background-color: #368d7a;
              color: #fff; }
            #navbar > div .menu > div > ul > li.active > ul {
              display: block; }
  body.navbar-opened #navbar {
    right: 0; }
    body.navbar-opened #navbar > div {
      right: 0; }

#content {
  min-height: 500px;
  background-color: #fff; }

#footer {
  background-color: #292929;
  color: #8f8f8f;
  font-size: 12px; }
  #footer a {
    color: #8f8f8f; }
  #footer h2 {
    margin-top: 35px;
    margin-bottom: 15px; }
    #footer h2 img {
      display: block;
      margin: 0 auto;
      width: 143.33333333px; }
  #footer .company {
    margin-bottom: 20px; }
    #footer .company dl {
      text-align: center; }
      #footer .company dl dt, #footer .company dl dd {
        display: inline-block;
        font-weight: normal; }
    #footer .company address {
      text-align: center; }
    #footer .company .contact dt:before {
      padding-left: 5px;
      padding-right: 5px;
      content: '·'; }
    #footer .company .contact dt:first-child:before {
      padding-left: 0;
      padding-right: 0;
      content: ''; }
    #footer .company .email {
      display: block;
      text-align: center; }
  #footer .copyright {
    margin-bottom: 20px; }
    #footer .copyright p {
      text-align: center; }
  #footer .pc-link {
    margin-bottom: 20px; }
    #footer .pc-link p a {
      display: block;
      margin: 0 auto;
      border: 1px solid #545454;
      width: 110px;
      height: 30px;
      color: #fff;
      line-height: 28px;
      text-align: center; }

.main #welcome {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(../images/bg_building_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  text-align: center;
  color: #dfdfdf;
  font-size: 15px;
  letter-spacing: -1px; }
  .main #welcome img {
    display: block;
    margin: 0 auto;
    width: 75px; }
  .main #welcome h2 {
    margin-top: 0;
    font-weight: bold;
    font-size: 45px; }
    .main #welcome h2 i {
      font-style: normal;
      font-weight: 100; }
  .main #welcome hr {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 60px; }
  .main #welcome p:nth-of-type(1) {
    margin-top: 40px; }
  .main #welcome p:nth-of-type(2) {
    margin-bottom: 30px; }
  .main #welcome a {
    display: block;
    width: 100%;
    height: 45px;
    color: #fff;
    border: 1px solid #fff;
    line-height: 43px;
    text-decoration: none; }
    .main #welcome a:active {
      background-color: #368d7a;
      border-color: #368d7a; }
  .main #welcome ul {
    margin-left: -5px;
    margin-right: -5px; }
    .main #welcome ul li {
      padding-left: 5px;
      padding-right: 5px; }
.main #business {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  background-image: url(../images/bg_business.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  text-align: center; }
  .main #business h2 {
    margin-top: 0;
    margin-bottom: 15px;
    color: #368d7a;
    font-size: 35px;
    letter-spacing: -3px; }
    .main #business h2 + p {
      margin-bottom: 30px;
      color: #666; }
  .main #business ul > li > a {
    display: table;
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    min-height: 130px;
    color: #fff;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover; }
    .main #business ul > li > a div {
      display: table-cell;
      vertical-align: middle; }
      .main #business ul > li > a div strong {
        display: block;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: normal; }
      .main #business ul > li > a div ul li {
        display: inline-block; }
        .main #business ul > li > a div ul li:after {
          content: '|'; }
        .main #business ul > li > a div ul li:last-child:after {
          content: ''; }
        .main #business ul > li > a div ul li.br {
          display: block;
          content: ''; }
  .main #business ul > li:nth-of-type(1) a {
    background-image: url(../images/bg_business_1.jpg); }
  .main #business ul > li:nth-of-type(2) a {
    background-image: url(../images/bg_business_2.jpg); }
  .main #business ul > li:nth-of-type(3) a {
    background-image: url(../images/bg_business_3.jpg); }
.main #results {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  background-image: url(../images/bg_results.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  .main #results h2 {
    margin-top: 0;
    margin-bottom: 15px;
    color: #368d7a;
    font-size: 35px;
    letter-spacing: -3px; }
  .main #results p {
    margin-bottom: 20px;
    color: #666; }
  .main #results .row {
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 20px;
    border-bottom: 0; }
    .main #results .row li {
      margin: 0;
      padding-left: 5px;
      padding-right: 5px; }
      .main #results .row li a {
        overflow: hidden;
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 5px;
        padding-right: 5px;
        height: 40px;
        line-height: 38px;
        border: 1px solid #368d7a;
        border-radius: 0;
        color: #368d7a;
        letter-spacing: -1px;
        text-overflow: ellipsis;
        white-space: nowrap; }
      .main #results .row li.active a {
        background-color: #368d7a;
        color: #fff; }
  .main #results .client {
    border: 1px solid #ccc;
    background-color: #fff; }
    .main #results .client .img-responsive {
      margin: 0 auto; }
    .main #results .client figcaption {
      padding: 20px;
      font-size: 14px;
      color: #959595; }
      .main #results .client figcaption h4 {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 1.4em;
        color: #464646; }
      .main #results .client figcaption dl dt, .main #results .client figcaption dl dd {
        display: inline-block; }
      .main #results .client figcaption dl dt {
        font-weight: normal; }
        .main #results .client figcaption dl dt:after {
          content: ':'; }
.main #notice {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  background-image: url(../images/bg_building_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  color: #fff; }
  .main #notice h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 35px;
    letter-spacing: -3px; }
    .main #notice h2 + p {
      margin-bottom: 30px; }
  .main #notice ul > li > a {
    display: block;
    margin-top: 15px;
    padding: 20px;
    width: 100%;
    color: #f4f4f4;
    background-color: rgba(68, 121, 110, 0.6);
    text-align: left; }
    .main #notice ul > li > a h4 {
      display: block;
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.4em; }
      .main #notice ul > li > a h4 + p {
        overflow: hidden;
        display: block;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 18px;
        text-overflow: ellipsis; }
    .main #notice ul > li > a p {
      color: rgba(244, 244, 244, 0.8); }
.main #inquiry {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  color: #fff;
  background-image: url(../images/bg_inquiry.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  .main #inquiry h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 35px;
    letter-spacing: -3px;
    color: #368d7a; }
    .main #inquiry h2 + p {
      margin-bottom: 30px;
      color: #666; }
  .main #inquiry .map {
    margin-bottom: 30px; }
  .main #inquiry .inquiry-form > .row {
    margin-left: -5px;
    margin-right: -5px; }
    .main #inquiry .inquiry-form > .row > div {
      margin-bottom: 10px;
      padding-left: 5px;
      padding-right: 5px; }
  .main #inquiry .inquiry-form .btn-send {
    height: 50px;
    line-height: 36px;
    background-color: #368d7a;
    font-size: 16px; }

/*# sourceMappingURL=default.css.map */
